body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-areas:
    "text image";
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

img {
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    position:static;
    bottom: 0;
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

.landing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}

.landing-grid h2 {
    text-align: center;
}

.text {
    background-color: #4CAF50;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
}
